<h1>Make your form here</h1>
<form class="" action="index.html" method="post">
  <label for="pirate_name">Pirate Name:</label>
  <input id="pirate_name" type="text" name="pirate[name]" value="">
  <label for="pirate_weight">Pirate Weight:</label>
  <input id="pirate_weight" type="text" name="pirate[weight]" value="">
  <label for="pirate_height">Pirate Height:</label>
  <input id="pirate_height" type="text" name="pirate[height]" value="">

</form>
